.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGrey);
    width: fit-content;
    box-shadow: var(--coolBoxShadow);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--lightGrey);
    border: 1px solid var(--lightWhite);
}

.card-container, .card {
    border-radius: 5px;
    padding: 1.5rem;
    height: fit-content;
}

.card-footer {
    margin-top: 2rem;
}

.card-body {
    gap: 0.5rem;
}

.card-body, .card-footer {
    display: flex;
    flex-direction: column;
}