.input-field-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 0.25rem;
}

label {
    display: inline-block;
}

input, input.invalid:focus-visible {
    background-color: var(--extraLightGrey);
    border: 1px transparent;
    outline: 1px transparent;
    box-shadow: var(--subtleBoxShadow);
}

input:focus {
    outline: 1px solid white;
}

input.invalid
{
    border: 1px solid var(--validationError);
    box-shadow: var(--validationErrorBoxShadow);
}

input.invalid:focus-visible
{
    outline: 1px solid white;
    border: 1px solid white;
}

.validation-error {
    color: var(--validationError);
    font-size: 0.875rem;
    align-self: flex-end;
    padding-right: 1.5rem;
}

.input-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.input-field label {
  color: var(--white);
  width: 100%;
  text-align: center;
}

.input-field input {
  padding: 0.25rem;
}