:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --coolBoxShadow: 10px 10px 5px rgba(0, 0, 0, 0.330);
  --subtleBoxShadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.330);

  --white: rgb(230, 220, 220);
  --lightWhite: rgb(170, 160, 160);

  --validationError: rgb(170, 20, 20);

  --extraLightGrey: rgb(65, 65, 65);
  --lightGrey: rgb(50, 50, 50);
  --lightGreyHover: rgb(40, 40, 40);
  --lightGreyMouseDown: rgb(35, 35, 35);
}

body {
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
